@font-face {
  font-family: gothambook;
  src: url(../font/Gotham\ Book\ Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: gothambook;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: #e82127;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: gothambook;
}
nav.sticky {
  background: rgba(37, 145, 245, 0.74);
  padding: 13px 0;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.589);
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo img {
  width: 90px;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover{
  color: #1686f0;
}

nav.sticky .menu a {
  color: #1257AC;
}

.navbar .media-icons a {
  color: #fff;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a {
  color: #e82127;
}

nav .menu-btn,
.navbar .menu .close-btn {
  position: absolute;
  color: #1257AC;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: #fff;
}
nav.sticky .menu-btn {
  color: #1257AC;
}
.navbar .menu .menu-btn {
  color: #1257AC;
}
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  cursor: pointer;
}
.arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
.home {
  height: 100vh;
  width: 100%;
  background: url("../img/BG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

section {
  padding-top: 40px;
}
section .content {
  width: 80%;
  margin: 40px auto;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #e82127;
  left: 0;
  bottom: 0;
}
ul li {
  list-style: none;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right {
  width: 50%;
}
section .topic {
  color: #0e2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #0e2431;
}

.specifications {
  background: #ffffff;
}
.specifications video {
  height: 100%;
  width: 100%;
}
.specifications .content {
  padding: 30px 0;
}

.specifications .specifications-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specifications-details .text {
  width: 50%;
}
.specifications-details p {
  color: #0e2431;
  text-align: justify;
  letter-spacing: 10px;
}
.specifications .specifications-details .price {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.specifications-details .price .num {
  color: #0e2431;
  font-size: 55px;
}
.specifications-details .price .bp {
  color: #0e2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.specifications-details .sq-containers {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.specifications-details .sq {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.specifications-details .sq-containers .topic {
  font-size: 20px;
  color: #1257AC;
}
.specifications-details .sq-containers .performance {
  font-size: 50px;
  color: #1257AC;
}
.specifications img {
  height: 100%;
  width: 100%;
}
.features {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
.features .title {
  font-family: gothambook;
}
.info {
  height: 100%;
  position: relative;
  height: auto;
  color: rgb(255, 255, 255);
  display: flex;
}
.info img {
  width: 100%;
}
.info2 {
  height: 100%;
  position: relative;
  height: auto;
  color: white;
  display: flex;
}
.info2 img {
  width: 100%;
}
.info3 {
  height: 100%;
  position: relative;
  height: auto;
  color: white;
  display: flex;
}
.info3 img {
  width: 100%;
}
.bottom-left {
  width: 40%;
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-family: gothambook;
  font-size: 20px;
}
.bottom-left span {
  font-size: 40px;
  font-weight: 600;
}
.bottom-right {
  width: 40%;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-family: gothambook;
  font-size: 20px;
}
.bottom-right span {
  font-size: 40px;
  font-weight: 600;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #1257AC;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  color: #1257AC;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  color: #1257AC;
}
.app .app-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .app-details .left {
  width: 35%;
}
.app .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.app-details .right {
  width: 70%;
}
.app-details .right p {
  text-align: justify;
  color: #0e2431;
  font-weight: 700;
  font-style: italic;
}
.app-details .right img {
  display: flex;
  width: 150px;
  margin-top: 20px;
  cursor: pointer;
}

footer {
  background: #fff;
  padding: 15px 0;
  text-align: center;
  color: #000000;
  font-family: gothambook;
  font-weight: 500;
}
footer img {
  width: 100px;
}

@media (max-width: 1270px) {
  .specifications-details .sq-containers {
    width: 45%;
  }
}
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}
@media (max-width: 1140px) {
  .specifications-details .sq-containers .performance {
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .features .sq-containers .sq {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .specifications-details .sq-containers .performance {
    font-size: 35px;
  }
  .bottom-left {
    font-size: 14px;
  }
  .bottom-left span {
    font-size: 25px;
  }
  .bottom-right {
    font-size: 14px;
  }
  .bottom-right span {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #fff;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #1257AC;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #1257AC;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .close-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  .app .app-details {
    justify-content: center;
    flex-direction: column;
  }
  .app .app-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .app-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .specifications .specifications-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .specifications-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .specifications-details .sq-containers {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .features .sq-containers .sq {
    margin: 20px 0;
    width: 100%;
  }
}
@media (max-width: 670px) {
  .bottom-left {
    font-size: 10px;
  }
  .bottom-left span {
    font-size: 15px;
  }
  .bottom-right {
    font-size: 10px;
  }
  .bottom-right span {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .specifications-details .price .num {
    font-size: 40px;
  }
  .home .text-two {
    font-size: 55px;
  }
  .home .text-three {
    font-size: 33px;
  }
  .bottom-left {
    font-size: 7px;
  }
  .bottom-left span {
    font-size: 10px;
  }
  .bottom-right {
    font-size: 7px;
  }
  .bottom-right span {
    font-size: 10px;
  }
}
